@page "/fetchdata"

@inject IDocumentTypeService documentTypeService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (documentTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var types in documentTypes.Data!)
            {
                <tr>
                    <td>@types.Id)</td>
                    <td>@types.Description.</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ApiResponse<IEnumerable<DocumentTypeDto>>? documentTypes;

    protected override async Task OnInitializedAsync()
    {
        documentTypes = await documentTypeService.GetAllAsync();
    }
}

